<div class="dashboard">
  <app-sidebar></app-sidebar> <!-- Menú lateral -->

  <div class="main-content">
    <header class="header">
      <h1>Inicio</h1>
    </header>

    <div class="kpis">
      <div class="kpi-card">
        <p>Entrenamientos Semanales</p>
        <h2>5</h2>
      </div>
      <div class="kpi-card">
        <p>Entrenamientos Totales</p>
        <h2>30</h2>
      </div>
      <div class="kpi-card">
        <p>KCals Actuales</p>
        <h2>2300</h2>
      </div>
      <div class="kpi-card">
        <p>Peso Actual</p>
        <h2>74.1KG</h2>
      </div>
    </div>

    <div class="dashboard-content">
      <div class="chart">
        <h3>Actividad Reciente</h3>
        <div class="activity">
          <div class="activity-item">
            <h4>Último Entrenamiento</h4>
            <p>28/09/2024 (Pierna)</p>
          </div>
          <div class="activity-item">
            <h4>Último Reporte</h4>
            <p>28/09/2024</p>
          </div>
          <div class="activity-item">
            <h4>Entrenamientos Esta Semana</h4>
            <p>3 Entrenamientos</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>